*.html linguist-detectable=true
*.xml linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
*.json linguist-detectable=true
*.txt linguist-detectable=true
*.gitignore linguist-detectable=true
*.md linguist-detectable=true
*.yml linguist-detectable=true
